<div class="w-screen h-full">
  <!--Full page-->
  <div class="w-full h-full bg-img ">
    <!--Overlay-->
    <div class="overlay flex flex-col justify-center items-center">
      <!--Text + button-->
      <div class="w-full flex flex-col gap-14 items-center py-20">
        <div class="text-center">
          <h1 class="text-9xl text-[aqua] font-semibold font-serif ">Mind Merge</h1>
        </div>
    
        <div class="w-full text-center"> 
          <button (click)="redirectSignup()" class="text-5xl py-3 px-10 outline outline-4 bg-[aqua] rounded-xl hover:bg-transparent hover:text-[aqua]"> Start </button> 
        </div>
      </div>
    </div>
  </div>

  
</div>
