.bg-img {
    width: 100%;
    height: 100%;
    background: url('../../assets/brainBackground.jpg') center center no-repeat;
    background-size: cover;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.55);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
}

h1 {
    text-shadow:
      8px 8px 0 #000,
      -3px 3px 0 #000,
      -3px -3px 0 #000,
      3px -3px 0 #000;
  }