<h1 class="text-5xl m-5 text-center"> <b>{{this.username}}</b> in <b><u>{{this.roomName}}</u></b> </h1>

<div class="w-full flex justify-evenly">
        <div class="w-1/2 border-r border-r-gray-600">
            <h1 class="text-3xl text-center">Questions Created: </h1>
            <div class="gap-4 text-center flex justify-center items-center flex-wrap">
                <div *ngFor="let question of userRoomRelation.questionsCreated; let i=index" class="p-4 m-4 outline w-64 min-h-80 rounded-lg">
                    <h1 class="text-2xl w-full"><b><u>{{question.question}}</u></b></h1>
            
                    <div *ngIf="question.answers.length >0">
                        <li *ngFor="let answer of question.answers" 
                        [style.color]="(answer == question.correctAnswer) ? 'aqua' : 'black'"
                        [style.fontWeight]="(answer == question.correctAnswer) ? 'bold' : 'normal'"> 
                        {{answer}} </li>
                    </div>
            
                    <div *ngIf="question.answers.length == 0">
                        <p class="text-[aqua] font-bold"> {{question.correctAnswer}} </p>
                    </div>
            
                    <div class="p-4 m-2 outline">
                        <p>{{question.explanation}}</p>
                    </div>
            
                    <div>
                        <p>Created By: <b>{{question.author.username}}</b></p>
                        <p>Success rate: <b>{{(question.amountTimesAnsweredCorrect / question.amountTimesAnswered) * 100}}%</b></p>
                        <p class="text-xs">Number Of Times Correct: {{question.amountTimesAnsweredCorrect}}</p>
                        <p class="text-xs">Total Times Answered: {{question.amountTimesAnswered}}</p>
                    </div>
                </div>
        </div>
    
    </div>
    
    <div class="w-1/2 flex flex-col items-center">
        <h1 class="text-3xl">Quizzes Taken: </h1>
        <h1 class="text-xl m-3">Average Grade: <b><u>{{userRoomRelation.averageGrade}}</u></b></h1>
        <div *ngFor="let grade of userRoomRelation.grades" class="text-md p-2 m-3 outline flex flex-col">
            <h1 > {{grade.submissionTime}}. <b>{{grade.percentage}}%</b> </h1>
            <button (click)="navToGradedQuiz(grade)">See graded quiz</button>
        </div>
    </div>
</div>