<p>signup works!</p>

<!-- <div *ngIf="showErrorMessage" class="outline bg-red-500 h-12 w-3/4 m-auto text-center py-2"> 
    {{errorMessage}}
</div> -->

<form #form="ngForm" (ngSubmit)="onSubmit(form.value)">
    <div>
        <label for="email">Email: </label>
        <input type="text" name="email" ngModel>
    </div>   
    <div>
        <label for="username">Username: </label>
        <input type="text" name="username" ngModel>
    </div> 
    <div>
        <label for="password">Password: </label>
        <input type="text" name="password" ngModel>
    </div>

    <button type="submit" >Signup</button>

</form>

<div>
    <p> Forgot password? </p>    
</div>

<div>
    <button>Sign in with google instead</button>
</div>



